@model IList<ITLab.Models.Session>;
@{
    ViewData["Title"] = "Home Page";
    int counter = 0;
}
    <asp:Content ID="NavStyle" runat="server" ContentPlaceHolderID="HeadContent">
        <link href="~/css/animationNav.css" rel="stylesheet" />
    </asp:Content>
    <div id="landing">
        <div class="header">
            <div class="text-container">
                <div class="typewriter">
                    <h1>ITLab: Het belangrijkste lokaal van HoGent!</h1>
                </div>
            </div>
        </div>

        
        <div id="newest-session">
            <div class="container">
                <h1>Eerstvolgende sessies</h1>
    
                <!--Carousel Wrapper-->
                <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
                    <!--Indicators-->
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">

                        <!--First slide-->
                        <div class="carousel-item active">

                            @foreach (var session in Model)
                            {
                                <div class="col-md-4" style="float:left">
                                    <div class="card mb-2 session-card">
                                        <img class="card-img-top session-img" src="data:image/png;base64, @((ViewData["image"] as List<Image>)[counter++].ToBase64())" />
                                        <div class="card-body session-card-body">
                                            <h4 class="card-title">@session.CardTitle</h4>
                                            <p class="card-text session-card-text">
                                                @session.CardDescription
                                            </p>
                                            <a class="btn btn-primary session-btn" asp-controller="Session" asp-route-id="@session.Id" role="button">Meer informatie</a>
                                        </div>
                                    </div>
                                </div>
                            }

                           

                        </div>
                        <!--/.First slide-->



                    </div>
                    <!--/.Slides-->

                </div>
                <!--/.Carousel Wrapper-->
                <a class="btn btn-primary mt-2 mb-2" asp-controller="Calendar" asp-action="Index" role="button">Bekijk de volledige kalender</a>

            </div>
        </div>

    </div>
