@model ITLab.Models.ViewModel.FeedbackViewModel

@{
    ViewData["Title"] = "Index";
}

<asp:ContentPlaceHolder ID="NavStyle" runat="server">
    <link href="~/css/normalNav.css" rel="stylesheet" />
</asp:ContentPlaceHolder>


<div class="container" style="margin-top: 10px;">
    <div class="jumbotron">
        <h4 class="display-4">@Model.Title</h4>

        <div class="container">
            <div>
                <img src="~/img/feedback.png" alt="feedback">
            </div>

            <form method="post">
                <div class="form-group">
                    <label asp-for="Feedback">Laat je ons weten hoe je de sessie vond?</label>
                    <textarea class="form-control" rows="3" asp-for="Feedback"></textarea>
                    <span asp-validation-for="Feedback" class="text-danger"></span>
                </div>

                <div>
                    <button class="btn btn-primary" type="submit">Verstuur</button>
                    <a class="btn btn-primary" asp-controller="Session" asp-action="Index">Terug</a>
                </div>
            </form>

            <div class="container">
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-success">@TempData["message"]</div>
                }
                @if (TempData["error"] != null)
                {
                    <div class="alert alert-warning">@TempData["error"]</div>
                }
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}



