@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<asp:ContentPlaceHolder ID="NavStyle" runat="server">
    <link href="~/css/normalNav.css" rel="stylesheet" />
</asp:ContentPlaceHolder>
<h1>@ViewData["Title"]</h1>
<h4>Enter your email.</h4>
<hr />
<div class="row">
    <p>Om je wachtwoord opnieuw in te stellen contacteer je de verantwoordelijke van het IT-lab</p>
</div>
