@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<div class="container">
    <div class="row">
        Registreren is niet toegestaan! Contacteer de verantwoordelijke van het IT-Lab
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
