@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<asp:ContentPlaceHolder ID="NavStyle" runat="server">
    <link href="~/css/normalNav.css" rel="stylesheet" />
</asp:ContentPlaceHolder>
<h1>@ViewData["Title"]</h1>
<div class="container">
    <div class="row">
        Registreren is niet toegestaan! Contacteer de verantwoordelijke van het IT-Lab
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
