@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<h1>@ViewData["Title"]</h1>
<h4>Reset your password.</h4>
<hr />
<div class="row">
    <p>Om je wachtwoord opnieuw in te stellen: contacteer de veranwoordelijke van het IT-lab!</p>
</div>
