@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}
<asp:ContentPlaceHolder ID="NavStyle" runat="server">
    <link href="~/css/normalNav.css" rel="stylesheet" />
</asp:ContentPlaceHolder>
<h1>@ViewData["Title"]</h1>
<h4>Reset your password.</h4>
<hr />
<div class="row">
    <p>Om je wachtwoord opnieuw in te stellen: contacteer de veranwoordelijke van het IT-lab!</p>
</div>
